    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <%= image_tag "about.jpg", width: 750 %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>About</h1>
                <p>Piccola Italia opened its doors on April 8, 1982, by owner Frank Amato. Frank was born and raised in Palermo, Sicily where he learned about the ethics of business early on. As a young boy Frank sold fish and gelato on the streets of his home town to help support his family. He learned his cooking skills and recipes for sauces and dough from his mother and while serving in the Italian army, where he cooked.  Frank immigrated to the USA in the 70's. Frank fell in love with North Carolina while on vacation here and so decided to make it his home.</p>  
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Call head seating availble Thursday - Sunday (919) 833-6888!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>