    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <%= image_tag "contact.jpg", width: 750 %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Contact</h1>
                <p>423 Woodburn Rd<br>
				Cameron Village<br>
                Raleigh, NC 27605-1323<br>
                (919) 833-6888</p>  

                <p>Monday - Saturday 11am - 9:30pm</p>

                <p>We accept: Cash, Visa, MasterCard, American Express</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Call head seating availble Thursday - Sunday (919) 833-6888!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>