    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><%= link_to "Home", home_path %></li>
                    <li role="presentation"><%= link_to "About", about_path %></li>
                    <li role="presentation"><%= link_to "Menu", menus_path %></li>
                    <li role="presentation"><%= link_to "Contact", contact_path %></li>
                </ul>
            </div>
        </div>
    </nav>
